body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: white;
  background: url(../images/fsociety-mask-elliot.jpg) no-repeat center top #000;
  background-attachment: fixed; 
  font-family: 'Roboto', sans-serif;

}

.navbar {
  margin-bottom: 20px;
  background-color: transparent
;  color: red;
  border: 1px solid #d12026;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  color: #d12026;
  border-color: #d12026;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #d12026;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #d12026;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #000;
  color: #d12026;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #000
  color: #d12026;
}



.dropdown-menu {
  background-color: rgba(0,0,0,0.5);
}

.dropdown-menu>li>a {
  color: white;
}


.top-logo {
  text-align: center;
  background: url(../images/mr-robot-logo.png) no-repeat center top;
  background-size: contain;
  height: 100px;
  margin-bottom: 10px;
}

.top-logo-wrapper p {
  text-transform: uppercase;
  text-align: center;
}


.media-embed {
  position: relative;  
}

.media-embed img {
     margin:0 auto; /* this will center the page */
   width:800px;

}

.media-embed .bold-text {
  font-weight:500;
  font-size: 52px;
  letter-spacing: 10px;
  position:absolute;
  right:0;
  bottom:0;
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  
  color: #F5F5F5;
  text-shadow: 10px 10px 10px #000;
}

.darkness {
  border: 1px solid #d12026;
  border-left: none;
  border-right: none;
  margin-top: 10px;
}

.darkness > [class^="col"] {
  background-color: rgba(0,0,0,.75);
}

@media (max-width: 768px) {
  .media-embed .bold-text {
    font-size: 24px;
  }
  
  .top-logo {
    height: 50px;
  }
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  color: white;
  background-color: #d12026;
}


.cast{
font-family: 'Exo', sans-serif;
  text-shadow: 3px 2px red;
font-weight: bolder;

}

a:link {
    color: red;
}

/* visited link */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: gray;
}

/* Add a background color and some padding around the form */


textarea:focus, input:focus {
    color: #ff0000;
}

input, select, textarea{
    color: #000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
   margin:0 auto; /* this will center the page */
   width:960px; /*  use your width here */
}

#normal{

}